.box {
    border: 1px solid black;
    width: 700px;
    margin: 0 auto;
    border-radius: 10px;
    height: 300px;
    background-color: rgb(80, 76, 76);
    color: white;
}
h1{
    text-align: center;
}
img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    float: left;
}
.box2{
    float: left;
    margin-left: 10px;
}