<h1>The Rick and Morty API</h1>

<mat-form-field class="form-field">
  <mat-label>Buscar Personaje</mat-label>
  <input matInput type="text" [(ngModel)]="searchTerm" (input)="filterData()">
  <button matSuffix mat-icon-button aria-label="Clear" (click)="filterData()">
    <mat-icon>search</mat-icon>
  </button>
</mat-form-field>

<div class="box">
  <div *ngFor="let item of getPaginatedData(); let i = index">
    <div class="card">
      <img src="{{ item.image }}" alt="{{ item.name }}">
        <h2>{{ item.name }}</h2>
        <div class="box2">
        <div class="status-dot" [ngStyle]="{'background-color': getStatusColor(item.status)}"></div>
        <p>{{ item.status }} - {{ item.species }}</p>
      </div>
        <br>
        <p>Last known location: {{ item.origin.name }}</p><br>
        <p>First seen in: The Old Man and the Seat</p>
    </div>
  </div>
</div>
<br>
<mat-paginator
  class="pag"
  [length]="data.length"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  [pageIndex]="pageIndex"
  (page)="onPageChange($event)"
  aria-label="Select page"
></mat-paginator>