<h1>The Rick and Morty API</h1>
<div class="box">
  <div *ngFor="let item of getPaginatedData(); let i = index">
    <div class="card">
      <img src="{{ item.image }}" alt="{{ item.name }}">
      <div class="box2">
        <h2>{{ item.name }}</h2>
        <p>{{ item.status }} - {{ item.species }}</p>
        <br>
        <p>Last known location: {{ item.origin.name }}</p><br>
        <p>First seen in: The Old Man and the Seat</p>
      </div>
    </div>
  </div>
</div>
<mat-paginator
  class="pag"
  [length]="data.length"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  [pageIndex]="pageIndex"
  (page)="onPageChange($event)"
  aria-label="Select page"
></mat-paginator>