.example-spacer{
    flex: 1 1 auto;
  }

.bar{
  background-color: rgb(10, 121, 165);
  color: white;
}

.name{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.f {
  font-size: 16px;
}